<div class="align-center">
  <button mat-fab extended color="primary" (click)="ajouterDevoir()">
    <mat-icon>add</mat-icon>
    Ajouter un devoir
  </button>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="width:10%">
      </th>
      <td mat-cell *matCellDef="let devoir" style="width:1%">
        <button mat-mini-fab matTooltip="Modifier Devoir" color="primary" (click)="modifierDevoir(devoir)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Supprimer Devoir" color="warn" (click)="supprimerDevoir(devoir.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let devoir"> {{devoir.type}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let devoir"> {{devoir.date}} </td>
    </ng-container>

    <ng-container matColumnDef="coefficient">
      <th mat-header-cell *matHeaderCellDef> Coefficient </th>
      <td mat-cell *matCellDef="let devoir"> {{devoir.coefficient}} </td>
    </ng-container>

    <ng-container matColumnDef="matiere">
      <th mat-header-cell *matHeaderCellDef> Matière </th>
      <td mat-cell *matCellDef="let devoir"> {{devoir.nomMatiere}} </td>
    </ng-container>

    <ng-container matColumnDef="classe">
      <th mat-header-cell *matHeaderCellDef> Classe </th>
      <td mat-cell *matCellDef="let devoir"> {{devoir.nomClasse}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let devoir; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Sélectionner la page des devoirs">
  </mat-paginator>
</div>
